backend:
  name: github
  repo: oparin10/coletivo-firebase-gatsby-netflycms
  branch: main
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/img
public_folder: /img
locale: pt
logo_url: "src/images/gatsby-icon.png"
slug:
  clean_accents: true

collections:
  # --------------------------------------------------------------- #
  #                           Events                                #
  # --------------------------------------------------------------- #
  - name: "events"
    editor:
      preview: false
    label: "Evento"
    folder: "src/pages/eventos"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Template key",
          name: "templateKey",
          widget: "hidden",
          default: "events-post",
        }
      - { label: "Título", name: "title", wdiget: "string" }
  # --------------------------------------------------------------- #
  #                            News                                 #
  # --------------------------------------------------------------- #
  - name: "news"
    editor:
      preview: false
    label: "Notícia"
    folder: "src/pages/noticias"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "news-post",
        }
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data de publicação", name: date, widget: "datetime" }
      - { label: "Descrição", name: "description", widget: "text" }
      - { label: "Imagem principal", name: "featuredimage", widget: "image" }
      - { label: "Post", name: "body", widget: "markdown" }
  # --------------------------------------------------------------- #
  #                           Articles                              #
  # --------------------------------------------------------------- #
  - name: "articles"
    editor:
      preview: false
    label: "Artigo"
    folder: "src/pages/artigos"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Content Type",
          name: "contentType",
          widget: "hidden",
          default: "articles",
        }
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "article-post",
        }
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data de publicação", name: "date", widget: "datetime" }
      - { label: "Descrição", name: "description", widget: "text" }
      - {
          label: "Post destaque",
          name: "featuredpost",
          widget: "boolean",
          required: false,
        }
      - { label: "Imagem destaque", name: "featuredimage", widget: image }
      - { label: "Post", name: "body", widget: "markdown" }

  # --------------------------------------------------------------- #
  #                           Team Members                          #
  # --------------------------------------------------------------- #
  - name: "team"
    editor:
      preview: false
    label: "Membro da equipe"
    folder: "src/addons/team"
    create: true
    slug: "{{fields.contentType}}-{{fields.teamMemberName}}-{{fields.teamMemberPosition}}-{{fields.active}}"

    fields:
      - {
          label: "Content Type",
          name: "contentType",
          widget: "hidden",
          default: "teamMembers",
        }

      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "ignore",
        }
      - {
          label: "Nome do membro da equipe",
          name: "teamMemberName",
          widget: "string",
        }
      - {
          label: "Foto do membro da equipe",
          name: "teamMemberPicture",
          widget: "image",
        }
      - {
          label: "Cargo do membro da equipe",
          name: "teamMemberPosition",
          widget: "string",
        }
      - { label: "Ativo", name: "active", widget: "boolean" }

    # --------------------------------------------------------------- #
  #                       Site information data                     #
  # --------------------------------------------------------------- #
  - name: "info"
    editor:
      preview: false
    label: "Informações do website"
    folder: "src/addons/info"
    slug: "websiteInfoData"
    create: true
    fields:
      - {
          label: "Content Type",
          name: "contentType",
          widget: "hidden",
          default: "siteInfo",
        }
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "ignore",
        }
      - { label: "Endereço", name: "address", widget: "string" }
      - { label: "Telefone 1", name: "phoneOne", widget: "string" }
      - {
          label: "Telefone 2",
          name: "phoneTwo",
          widget: "string",
          required: false,
          default: "",
        }
      - { label: "E-mail 1", name: "mailOne", widget: "string" }
      - {
          label: "Email 2",
          name: "mailTwo",
          widget: "string",
          required: false,
          default: "",
        }
      - {
          label: "Facebook (link)",
          name: "facebookUrl",
          widget: "string",
          required: false,
          default: "#",
        }
      - {
          label: "Instagram (link)",
          name: "instagramUrl",
          widget: "string",
          default: "#",
          required: false,
        }
      - {
          label: "WhatsApp (número com DDD)",
          name: "whatsAppNum",
          widget: "number",
          default: "#",
          required: false,
        }
      - {
          label: "Mensagem automática para contato via WhatsApp",
          name: "whatsAppMessage",
          widget: "string",
          default: "",
          required: false,
        }
      # - name: "pages"
    # --------------------------------------------------------------- #
  #                      Partners                                   #
  # --------------------------------------------------------------- #
  - name: "partners"
    label: "Parceiros"
    editor:
      preview: false
    folder: "src/addons/partners"
    slug: "{{fields.contentType}}-{{fields.partnerName}}"
    create: true
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "ignore",
        }
      - {
          label: "Content Type",
          name: "contentType",
          widget: "hidden",
          default: "partners",
        }
      - { label: "Nome do parceiro", name: "partnerName", widget: "string" }
      - { label: "Logotipo do parceiro", name: "partnerLogo", widget: "image" }
