.swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.swiper-pagination {
  bottom: 20px;
}

.swiper-container {
  height: 400px;
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: 33.3333%;
  }

  .swiper-container {
    height: 500px;
  }
}
